
body {
  font-family: "Roboto";
  line-height: 1;
}
.gb-header_myichi-topbar {
  padding: 10px 0;
  background: #fff;
}
.container {
  width: 1300px;
}
.gb-header_myichi-topbar .gb-header_myichi-topbar-left ul li {
  display: inline-block;
  font-size: 16px;
  margin-right: 55px;
  color: #000;
}
.gb-header_myichi-topbar .gb-header_myichi-topbar-left ul li i {
  margin-right: 10px;
  font-size: 20px;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.gb-header-bottom_myichi {
  background: #0099FF;
  position: relative;
}
.gb-header-bottom_myichi .gb-header-bottom_myichi-left {
  width: 140px;
  left: 125px;
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: absolute;
  top: -46px;
  z-index: 50;
}
h1 {
  font-size: 24px;
  line-height: 1.5;
}
.gb-header-bottom_myichi .gb-header-bottom_myichi-left img {
  width: 100%;
  height: auto;
}
.gb-header-bottom_myichi .gb-header-bottom_myichi-right {
  width: calc(100% - 120px);
  float: left;
}
.gb-main-menu {
  position: relative;
}
.gb-main-menu .cssmenu {
  width: auto;
  line-height: 1;
  /* text-align: center; */
  float: right;
}
.gb-main-menu .cssmenu, .gb-main-menu .cssmenu ul, .gb-main-menu .cssmenu ul li, .gb-main-menu .cssmenu ul li a, .gb-main-menu .cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gb-main-menu .cssmenu > ul > li {
  display: inline-block;
  position: initial;
  padding: 15px 0;
}
.gb-main-menu .cssmenu > ul > li > a {
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  padding: 10px 22px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.gb-main-menu .cssmenu > ul > li:hover > a, .gb-main-menu .cssmenu > ul > li.active > a {
  color: #000;
  background: #d7a96b;
  border-radius: 20px;
}
.gb-slideshow_myichi {
  position: relative;
}
.gb-slideshow_myichi .owl-nav {
  margin-top: 0 !important;
}
.gb-slideshow_myichi .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  left: 20px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.gb-slideshow_myichi .owl-nav [class*=owl-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #0099FF !important;
  border: 3px solid #0099FF;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.gb-slideshow_myichi .owl-nav .owl-next {
  position: absolute;
  top: 45%;
  right: 20px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.gb-slideshow_myichi .owl-theme .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.gb-content {
  overflow: hidden;
}
.gb-mathanguachuong_myichi .titleCategoryProduct_myichi {
  position: relative;
  margin-bottom: 30px;
}.gb-mathanguachuong_myichi .titleCategoryProduct_myichi h4 {
  
  padding-bottom: 15px;
  margin-bottom: 10px;
 
  font-size: 45px;
  text-align: center;
  color: #0099FF;
  font-weight: 500;
}
.aaa234 {
  border: 2px solid red;
  width: 90px;
  text-align: center;
  margin-left: 46%;
}
.footer-main-content_myichi {
  background: #0099FF;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: auto;
  color: #fff;
  /* border-top: 5px solid #2cb400; */
}
.footer-main-content_myichi .gb-footer1_myichi {
  border-radius: 5px;
}
.abcd {
  font-size: 25px;
  margin-bottom: 15px;
}
.copyright-area {
  background: #0262fc;
  overflow: hidden;
}
.copyright-area .copyright-content {
  padding: 20px 0;
}
.copyright-content {
  text-align: center;
}
.copyright-content {
  color: #fff;
}
.gb-mathanguachuong_myichi .product_item_myichi .product_item_text_myichi h2 a {
  min-height: 50px;
  display: block;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px dashed #efebeb;
}
.prices_myichi .prices-news_myichi {
  font-size: 16px;
  color: #f44336;
  font-weight: 600;
  line-height: 22px;
}
.prices_myichi .prices-old_myichi {
  font-size: 14px;
  color: #a2a2a2;
  line-height: 22px;
}
.gb-btnmuahang_myichi {
  
    float: right;
    margin-top: -57px; }
  .gb-kemchuanam_myichi .product_item_myichi .product_item_price_chitiet_myichi .gb-btnmuahang_myichi {
    float: right; }
   
  .gb-btnmuahang_myichi button {
  display: inline-block;
  border-radius: 20px;
  background-color: #0099FF;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 8px 15px;
  color: #fff;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75); }
  .gb-btnmuahang_myichi a {
    display: inline-block;
    border-radius: 20px;
    background-color: #0099FF;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 8px 15px;
    color: #fff;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75); }
    .titleCategoryProduct_myichi h4 {
      padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 45px;
    text-align: center;
    color: #0099FF;
    font-weight: 500;
    }